<section class="hero section" id="hero">
  <div class="container bookslist-wrapper">
    <!-- <include src = "sidebar.html"> -->
    <h1 class="hero-heading">
      Best Sellers <span class="heading-painter">Books</span>
    </h1>
    <ul class="categories-prewiews">
      <li class="cateory-preview">
        <p class="category-preview-name">Combined Print and E-Book Fiction</p>
        <ul class="category-preview-books">
          <li class="book-card">
            <a
              href="https://google.com"
              class="book-link"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                src="https://picsum.photos/id/237/300/200"
                alt="book"
                class="book-photo"
              />
              <h2 class="book-name">Book name</h2>
              <h3 class="author-name">Author</h3>
            </a>
          </li>
          <li class="book-card">
            <a
              href="https://google.com"
              class="book-link"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                src="https://picsum.photos/id/237/300/200"
                alt="book"
                class="book-photo"
              />
              <h2 class="book-name">Book name</h2>
              <h3 class="author-name">Athor</h3>
            </a>
          </li>
          
        </ul>
        <li class="btn-loadmore-book-wraper">
            <button type="button" class="btn-loadmore">see more</button>
          </li>
        
      </li>
      <li class="cateory-preview">
        <p class="category-preview-name">Combined Print and E-Book Fiction</p>
        <ul class="category-preview-books">
          <li class="book-card">
            <a
              href="https://google.com"
              class="book-link"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                src="https://picsum.photos/id/237/300/200"
                alt="book"
                class="book-photo"
              />
              <h2 class="book-name">Book name</h2>
              <h3 class="author-name">Author</h3>
            </a>
          </li>
          <li class="book-card">
            <a
              href="https://google.com"
              class="book-link"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                src="https://picsum.photos/id/237/300/200"
                alt="book"
                class="book-photo"
              />
              <h2 class="book-name">Book name</h2>
              <h3 class="author-name">Athor</h3>
            </a>
          </li>
          
        </ul>
        <li class="btn-loadmore-book-wraper">
        <button type="button" class="btn-loadmore">see more</button>
        </li>
      </li>
    </ul>
  </div>
</section>
