<header class="header container">
  <div class="header-wrapper">
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link-logo" href="./index.html">
            <svg class="svg-logo" width="24" height="24">
              <use href="./images/sprite.svg#icon-logo"></use>
            </svg>
            <span class="header__logo-text">Bookshelf</span>
          </a>
        </li>
        <li class="header-item">
          <a class="header-link-home menu-link current" href="./index.html"
            >HOME</a
          >
        </li>
        <li class="header-item">
          <a class="header-link menu-link" href="./shopping_list.html">
            <span> SHOPPING LIST</span>
            <svg class="svg shopping-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-shoppingcart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <!-- buttons -->
    <div class="container-button">
      <label class="switch">
        <input id="theme-switch" type="checkbox" />
        <span class="slider round"></span>
      </label>
      <button class="button-burger  js-open-menu">
        <svg class="svg" width="28" height="28">
          <use href="./images/sprite.svg#icon-burgermenu"></use>
        </svg>
      </button>
      <button class="button-burger-close js-close-menu is-hidden">
        <svg class="svg" width="28" height="28">
          <use href="./images/sprite.svg#icon-closebtn"></use>
        </svg>
      </button>
    </div>

    
</header>
    <!-- mobail-menu -->
<div class="mobile-menu js-menu-container">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a class="header-link-home menu-link-mobail current" href="./index.html">HOME</a>
        </li>
        <li class="mobile-nav-item">
          <a class="header-link-shoppingcart" href="./shopping_list.html">
            <span>SHOPPING LIST</span>
            <svg class="svg-mobail shopping-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-shoppingcart"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-nav-item-img">
          <img class="img" src="./images/shoplist/books.png" alt="book" />
        </li>
      </ul>
    </div>
  </div>