<!-- <section class="support"> -->
    <div class="support-container" id="support-contain">
        <div class="wrapper">
          <h2 class="support-title">Support Ukraine</h2>
          <svg class="support-icon" width="20" height="32">
            <use href="./images/sprite.svg#icon-coatofarms"></use>
          </svg>
        </div>
   
        <div class="swiper-div" id="swiper-div">
          <ul class="forLogoDiv"></ul>
        </div>
        <button
          id="swiper-button"
          class="swiper-button-next"
          type="button"
          aria-label="Scroll to show more founds"
        >
          <svg class="swiper-button-next-icon-down" id="scrolldown" width="22" height="22">
            <use href="./images/sprite.svg#icon-arrowscrolldown"></use>
          </svg>
          <svg class="swiper-button-next-icon-up is-hidden-support" id="scrollup" width="22" height="22">
            <use href="./images/sprite.svg#icon-arrowscrollupsupport"></use>
          </svg>
        </button>
      </div>
      
      <!-- </section> -->