.hero-heading {
  font-size: 32px;
  color: var(--black-color);
  margin-bottom: 40px;
}
.heading-painter {
  color: var(--categories-links-active-color);
}
.category-preview-name {
  color: #b4afaf;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.book-name {
  color: var(--black-color);
  font-size: 16px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.author-name {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 400;
}
.category-preview-books {
  margin-bottom: 8px;
}
.book-photo {
  margin-bottom: 14px;
  border-radius: 8px;
  width: 100%;
}
/* @media only screen and (min-width: 320px) {
   {
  }
} */

.btn-loadmore {
  display: block;
  padding: 14px 28px;
  min-width: 124px;
  max-height: 46px;
  color: var(--black-color);
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--categories-links-active-color);
  margin-left: auto;
  margin-bottom: 40px;
}
.book-card {
  max-width: 335px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .hero-heading {
    font-size: 48px;
  }
  .category-preview-books,
  .category-all-books {
    margin-bottom: 32px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    column-gap: 40px;
  }
  .book-card {
    max-width: 218px;
    width: 100%;
  }
  .btn-loadmore {
    min-width: 124px;
    max-height: 46px;
  }
}
.cateory-preview .btn-loadmore {
  margin-left: auto;
}
@media only screen and (max-width: 767px) {
  .prewiew.book-card {
    display: none;
  }
  .prewiew.book-card:first-child {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .prewiew.book-card {
    display: none;
  }
  .prewiew.book-card:nth-child(-n + 3) {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  .category-preview-books {
    margin-bottom: 20px;
    display: flex;
    gap: 24px;
  }
  .book-card {
    max-width: 180px;
    width: 100%;
  }
}
