.dark {
  background-color: #202024;
}
.dark .header {
  background-color: #111111;
  border: 1.5px solid #fff;
  border-radius: 0px 0px 8px 8px;
}

.dark .header__logo-text {
  color: #ffffff;
}
.dark .menu-link {
  color: #ffffff;
  fill: #ffffff;

  /* &:hover,
  &:focus {
    fill: #111111;
    color: #111111;
  } */
}
.dark .menu-link .current {
  fill: #111111;
  color: #111111;
}

.dark .categories-list .item {
  color: #ffffff;
}
.dark .book-name {
  color: #ffffff;
}

.dark .hero-heading {
  color: #ffffff;
}
.dark .title-categories:hover {
  color: #eac645;
}

.dark .item:hover {
  color: #eac645;
}
/* .dark .svg-mobail {
  color: #ffffff;
} */

.dark .btn-loadmore {
  background-color: #202024;
  color: #ffffff;
}

.dark .shopping-title-card {
  color: #ffffff;
}

.dark .shopping-desc-card {
  color: #ffffff;
}

.dark .modal-content {
  background-color: #202024;
  color: #ffffff;
  outline: 1px white;
}

.dark .book-title {
  color: #ffffff;
}

.dark .add-to-list-button {
  color: #ffffff;
}

.dark .hr-mob {
  fill: #ffff;
}

.dark .modal-content {
  border: 2px solid #ffff;
}

.dark .book-description {
  color: #ffffff;
}
