
 @media screen and (min-width: 320px) {
    .header {
        padding: 18px 20px;

    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 19px 32px;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 19px 24px;
    }
}

.header {
height: 72px;
    position: relative;
    z-index: 999;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {

    display: flex;
    align-items: center
}

.header-link-logo {
    display: flex;
    align-items: center;
    margin-right: 76px;
    font-weight: 600;
}



@media screen and (min-width: 768px) {
    .header-link-logo {
        margin-right: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .header-link-logo {
        margin-right: 76px;
    }
}

a.header-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111111;
   
}

@media screen and (min-width: 320px) {
    .header-item>.header-link {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-item>.header-link {
        display: flex;
    }
}

.header-link-home {
    font-family: 'DM Sans';
    display: flex ;
    justify-content: center;
    /* border: none ; */
    font-style: normal ;
    font-weight: 700 ;
    font-size: 14px ;
    line-height: 18px ;
    letter-spacing: -0.04em ;
    text-transform: uppercase ;
    margin-right: 24px;
}



.svg-logo {
    margin: 0;
    margin-right: 8px;
}


.svg {
    fill: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 4px;
}

@media screen and (min-width: 320px) {
    .header-item>.header-link-home {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-item>.header-link-home {
        margin-right: 1px;
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .header-item>.header-link-home {
        margin-right: 24px;
    }
}

.menu-link {
    position: relative;
    display: inline-flex;
    border-radius: 36px;
   background-color: transparent;
   padding: 8px 16px;
}

.menu-link.current {
    background-color: #EAC645;
    padding: 8px 16px;
    color: #111111;
   
}




.menu-link.current::after {
    position: absolute;
    width: 100%;
    height: 34px;
    display: block;
    background-color: #EAC645;

}


@media screen and (min-width: 320px) {
    .button-burger {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 0;
    }

}

@media screen and (min-width: 768px) {
    .button-burger {
        display: none;

    }

}

.header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/************** button cvicher *******************/
.container-button {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 12px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
}

input:focus+.slider {
    background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* **************************modal *************************menu */
@media only screen and (min-width:320px) and (max-width: 767px) {
    .header {
        position: fixed;
        height: 65;
        width: 100%;
        background-color: #FFFFFF;

    }
}

@media only screen and (min-width:767px) and (max-width: 1440px) {
    .header {
        position: static;
    }
}

@media screen and (min-width: 320px) {
    .mobile-menu {
        display: flex;

    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.mobile-menu {
    display: block;
    overflow: hidden;

    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.is-open {
    pointer-events: initial;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transform: translateX(0);
}

.mobile-nav-list {
    margin-top: 183px;
    margin-bottom: 125px;
    margin-left: auto;
    margin-right: auto;
}

.mobile-nav-item {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
}

.mobile-color {
    color: var(--white-color);
    margin-right: 54px;
}

.header-link-home {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.header-link-shoppingcart {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'DM Sans';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    font-style: normal;
    font-weight: 500;

    color: #FFFFFF;
}

.svg-mobail {
    margin-left: 4px;
    fill: #fff;
}

.svg-mobail-color {

    fill: #000;

}

.menu-link-mobail {
    position: relative;
    display: inline-flex;
    border-radius: 36px;
   
}

.menu-link-mobail.current {
    background-color: #EAC645;
    color: var(--black-color);
    padding: 8px 16px;


}

.menu-link-mobail.current::after {
    position: absolute;
    width: 100%;
    height: 34px;
    display: block;
    background-color: #EAC645;
}

.mobile-nav-item-img {

    width: 100%;
    margin: auto;


}

@media screen and (min-width: 320px) {
    .button-burger-close {
        background-color: #fff;
        display: flex;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .button-burger-close {

        display: none;

    }
}

.is-hidden {
    display: none;
}



.button-autor {
    width: 184px;
    height: 48px;
    background: #4F2EE8;
    border-radius: 36px;
    border: 1.5px solid #111111;
    border-radius: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 14px;
    letter-spacing: -0.04em;
    margin-left: 12px;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) {
    .button-autor {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .button-autor {
        display: flex;
    }
}

.svg-button {
    /* margin-left: 89px; */
        margin-left: auto;
}

.btn-autor {
    width: 118px;
    height: 48px;
    background: #FFFFFF;
    border: 1.5px solid #111111;
    border-radius: 18px;
 
position: fixed;
  bottom: 0;
    left: 0;
    z-index: 1;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 14px 24px;
    letter-spacing: -0.04em;

    color: #111111;
display: flex;
justify-content: flex-start;

}

@media only screen and (min-width:320px) and (max-width: 767px){
    .btn-autor {
      
        margin-left: 20px; 
margin-bottom: 20px;
   
    }
}
.svg-btn-autor {
    position: absolute;
    top: 14px;
    left: 72px;
}
